* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

button {
  border: none;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  background-color: transparent;
}

body {
  min-width: 320px;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.ant-menu {
  color: var(--text-color) !important;
  background: var(--bg-color-second) !important;
  border: none !important;
}

.ant-menu-sub {
  background-color: #0b1324 !important;
}

.ant-layout-sider-children {
  display: flex;
  flex-direction: column;
}
