* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

button {
  border: none;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  background-color: transparent;
}

body {
  min-width: 320px;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.ant-menu-light.ant-menu-submenu > .ant-menu,
.ant-layout .ant-layout-sider {
  background: var(--bg-color-second) !important;
}
.ant-menu {
  color: var(--text-color) !important;
  background: var(--bg-color-second) !important;
  border: none !important;
}
