:root {
  --bg-color: #fff;
  --bg-color-second: #fff;
  --text-color: #000;

  --white: #fff;
  --blue: #1976d2;
  --grey: #666;
}

body.dark-theme {
  --bg-color: #333;
  --bg-color-second: #001529;
  --text-color: #fff;
}
